body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
    background-color: #f5f5f5;
}

#map {
    flex: 1;
    width: 100%;
}

.legend {
    font-size: 13px;               /* 控制文字大小 */
    max-width: 160px;              /* 控制图例最大宽度 */
    padding: 10px 14px;            /* 上下 + 左右内边距 */
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    line-height: 1.4;
  }

.legend img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 8px;
}

.legend-title {
    font-size: 12px;
    color: #333;
    line-height: 2;
    margin: 0;
    padding: 0;
}

.legend input[type="checkbox"] {
    vertical-align: middle;  /* 使复选框与图标居中对齐 */
    margin-right: 5px;
    /* transform: translateY(2px);  /* 微调复选框向下移动 */
}

.mapboxgl-popup-content {
    border-radius: 10px !important;
    font-size: 11px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    line-height: 1.6;
}
  
.mapboxgl-popup-content div {
    margin-top: 4px;
}
.mapboxgl-popup-close-button {
    outline: none !important;
    box-shadow: none !important;
}
  